/* General Styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    box-sizing: border-box;
}

/* Contenedor 1: Logo */
.contenedor1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 80px; /* Tamaño ajustado del logo */
    height: auto;
}

/* Contenedor 2: Título */
.contenedor2 {
    text-align: center;
    margin-bottom: 10px;
}

.titulo {
    font-size: 1.8rem; /* Tamaño ajustado del título */
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}

/* Contenedor 3: Frase */
.contenedor3 {
    text-align: center;
    margin-bottom: 20px;
}

.frase {
    font-size: 1rem; /* Tamaño ajustado de la frase */
    color: #000;
    font-weight: normal;
}

/* Botón de ingreso */
.botonPagina {
    text-align: center;
    margin-top: 20px;
}

.button {
    font-size: 1rem;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    border-radius: 10px; /* Borde más redondeado */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: #000;
    transform: scale(1.05); /* Pequeño efecto al pasar el ratón */
}

/* Contenedor 5: Íconos */
.contenedor5 {
    display: flex;
    justify-content: center;
    gap: 20px; /* Más separación entre íconos */
    margin-top: 40px;
}

.icono {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 10%; /* Esquinas menos redondeadas */
    padding: 10px; /* Mayor padding interno */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.icono:hover {
    transform: scale(1.2);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
